.seat-map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.seat-selection-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.seat-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    background: #e0e4e7;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

/*.seat-map::before,*/
/*.seat-map::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 80%;*/
/*    height: 40px;*/
/*    background: inherit;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

/*.seat-map::before {*/
/*    top: -30px;*/
/*    border-radius: 50px 50px 0 0;*/
/*}*/

/*.seat-map::after {*/
/*    bottom: -30px;*/
/*    border-radius: 0 0 50px 50px;*/
/*}*/